<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="\save" method="post">
        <div class="container">
        <div class="subcontainer"><input type="text" name="username" placeholder="Enter Username" required/><br /></div>
        <div class="subcontainer"><input type="password" name="password" placeholder="Enter Password" required/><br /></div>
        <div class="subcontainer"><input type="text" name="fname" placeholder="Enter First Name" required/><br /></div>
        <input type="radio" name="gender" value="male"> Male<input type="radio" name="gender" value="female"> Female<br />
        <div class="subcontainer"><input type="number" name="pno" placeholder="Enter Phone Number" required/><br /></div>
        <div class="subcontainer"><input type="submit" id="submitbtn"/></div>
    </div>
      </form>
</body>
</html>